<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Jakes Trades | Plotted Data</title>
</head>

<body class="bg-white">
    <nav class="bg-gray-800 p-6">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-white text-2xl font-bold" href="/">Jakes Trades</a>
            <ul class="flex space-x-4 text-white">
                <li><a href="/" class="hover:text-gray-300">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto mt-5">
        <h1 class="text-3xl font-bold mb-5">Plot</h1>
        <!-- Plotly plot will be rendered here -->
        {{ plot_html | safe }}
    </div>
</body>

</html>
